.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.Button {
  min-width: 12rem !important;
  margin: 0.5rem !important;
}
